/* --- <style> таг се използва само във HTML файловете. Във CSS изобщо нямаме тагове.
	Ако имаш невалиден ред CSS, то браузъра ще игнорира и следващия ред CSS, който може и да е валиден.
	Това беше причината, поради която нямаше стиловете, които беше поставил за Body тага. --- */
	body {
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		font-family: 'Verdana', sans-serif;
		overflow-x: hidden;
	}

	.wrapper {
		width: 100%;
		height: 100%;
		margin: 0 auto;
		background-color: #34495e;
	}
	
	.wrapper > h2 {
		padding-left: 2px;
		margin-left: 50px;
		color: #fff;
	}
	.wrapper > .cards-wrapper {
		/* --- Не, че е грешно така, но би могъл да ги обединиш в един ред: padding:0 2px; --- */
		padding-left: 2px;
		padding-right: 2px;
	}
	
	.wrapper > .cards-wrapper > .card {
		width: 30%;	/* --- Ако имаш елемент, който е display:inline не можеш да му поставяш широчина --- */
		display: inline;
		float: left; /* --- По същия начин, както коментара отгоре е и за float на inline елемент --- */
		/* --- Обръщай внимание на подчертаването от VisualStudio. Ако посочиш подчертан елемент, ще ти изкочи описание за какъв е проблема --- */
		margin: 0 auto;
		background-color: #e74c3c;
		margin-left: 50px;
	}
	
	.wrapper > .cards-wrapper > .card > .avatar {
		width: 20%;
		float: left;
	}
	
	.wrapper > .cards-wrapper > .card > .user-info {
		width: 80%;
		float: right;
		position: relative;
		left: 23%;
	}
	
	/* --- Не е добра идея винаги да използваш > когато имаш повече от един селектор.
		Причината е, че в момента в който добавиш, промениш или премахнеш даден таг ще ти се счупят и стиловете.
		Също така, ако използваш интервал за разделение, ще можеш да пропуснеш голяма част от селекторите.
		За промер долния селектор може да го замениш само със ".cards-wrapper p" --- */
	.wrapper > .cards-wrapper > .card > .user-info > p {
		color: #FFF;
		margin: 0;
	}
	
	.wrapper > .cards-wrapper > .card > .user-info > .name {
		font-size: 24px;
	}
	
	.wrapper > .cards-wrapper > .card > .user-info > p > span.value {
		color: orange;
	}